    
body {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100vh;
            background-color: rgb(27, 112, 136);
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            color: rgb(88, 236, 20);
            overflow: hidden;   
            text-align: center;
            margin-top: 0px;
        }


.blink {
            font-size: 4vw;
            animation: blinking 1s infinite; /* Dura 1 segundo e repete infinitamente */
        }

.blue {
    color: rgba(212, 3, 3, 0.87);
}

h2 {
            font-size: 3vw;
            text-align: center;
            margin: 0px 0;
            color: rgb(65, 9, 77);
        }



.container {
            display: flex;
            gap: 80px;
            margin: 0px 8px;
            padding: 5px;
        }
.quadro {
            width: 520px;
            height: 160px;
            background-color:rgb(31, 1, 70);
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 4px;
            border-radius: 40px;
            overflow: hidden;
            position: relative;
            animation: fadeIn 1s ease-in-out;
            animation: borderAnimation 2s infinite; /* Aplica a animação */
            animation-delay: 0.5s;
        }

 .texto {

    color: rgb(176, 209, 28);
    font-size: 50px;
    text-align: center;
}

 #dataHora {
    font-size: 40px; /* Tamanho da fonte da data e hora */
   /* background-color: #220946; /* Fundo branco para destaque */
    color:#448b47(149, 151, 8);
    padding: 8px 0  0 ; /* Espaçamento interno */
    border-radius: 8px; /* Bordas arredondadas */
    /*box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra leve */
 }

 h1 {
    font-size: 3.5em; /* Tamanho da fonte do título */
    margin-bottom: 20px; /* Espaço abaixo do título */
 
}



agenda-provas {
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

.provao {
    color: #eeeb2a; /* Azul para Provão Paulista */
        font-size: 50px;
}

.saresp {
    color: #eeeb2a; /* Verde para SARESP */
     font-size: 50px;
}

.ensinofundamental {
   color: #480c5a; 
     font-size: 50px;
}

.ensinomedio {
   color: #480c5a; 
     font-size: 50px;
}


@keyframes fadeIn {
            from { opacity: 0; }
            to { opacity: 1; }
}
@keyframes slideIn {
            from { transform: translateY(20px); opacity: 0; }
            to { transform: translateY(0); opacity: 1; }
}

 @keyframes blinking {
    0%, 100% {
        opacity: 1; /* Totalmente visível */
    }
    50% {
        opacity: 0; /* Invisível */
    }
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        gap: 30px;
    }

    .quadro {
        width: 100%;
        height: auto;
    }
    
}

@media (max-width: 480px) {

    h1 {
        font-size: 5vw;
    }
    h2 {
        font-size: 5vw;
    }

    #dataHora {
        font-size: 5vw;
    }

    .quadro {
        width: 100%;
    }

    .texto {
        font-size: 40px;
    }

    .container {
        display: flex;
        margin: 0px 0px;
        padding: 0px;
        font-size: 5vw;
    }
}



